.App {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);

  text-align: center;
  background-image: url("https://images.getbento.com/accounts/fe5b1106081916de4ffa19294c0812af/media/images/24137Bone-In_Ribeye.jpg?w=1000&fit=max&auto=compress,format");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

nav {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  grid-column: 1 / span 10;
  grid-row: 1fr;
  text-align: center;
  font-size: 35px;
  text-shadow: 2px 2px 4px #7f7d7d;
  background: white;
  opacity: 75%;
  place-self: center;
}

#ingLink {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  place-self: center;
}
#courseLink {
  display: inline;
  grid-column: 4 / span 2;
  grid-row: 1 / span 1;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  place-self: center;
}
#addLink {
  grid-column: 6 / span 2;
  grid-row: 1 / span 1;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  place-self: center;
}
#homeLink {
  grid-column: 8 / span 2;
  grid-row: 1 / span 1;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  place-self: center;
}
#recipe-container {
  display: grid;
  grid-template-columns: repeat(9,1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-column: 1 / span 9;
  grid-row: 2 / span 2;
}
#dropdown {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
  justify-items: center;
}
#search-item {
  color:rgb(45, 0, 0);
  background-color: grey;
  opacity: 75%;
  border-radius: 15px;
  font: bolder;
}
#search-paragrph {
  grid-column: 2 / span 4;
  grid-row: 2 / span 2;
  justify-items: center;
  background-color: grey;
  opacity: 75%;
  font: bolder;
  
  border-radius: 5px;;
}
